<a href="https://colab.research.google.com/github/esis-a-i/Python-Analytic-Adv-HSE/blob/main/HWs/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Первая часть ДЗ находится здесь: https://official.contest.yandex.ru/contest/67840/enter

Эта часть будет проверяться полностью вручную.
За качество кода баллы могут быть снижены.

### Задача 1. Декоратор. (15)

Напишите декоратор, который будет выполнять функцию трижды, делая между выполнениями перерыв в 2 секунды. После каждого выполнения декоратор должен выводить на экран аргументы функции и результат работы (возвращаемое значение)

In [ ]:
from time import sleep

In [ ]:
def sleep_and_run_3_times(func):
  def wrapper(*args, **kwargs):
    for _ in range(3):
      r = func(*args, **kwargs)
      print(*args, **kwargs)
      print(r)
      sleep(2)
    return r
  return wrapper

In [ ]:
@sleep_and_run_3_times
def sum_f(a, b):
  return a + b

In [ ]:
sum_f(1, 2)

1 2
3
1 2
3
1 2
3

3

### Задача 2. Генератор. (20)

Напишите генератор, который принимает коллекцию с вложенными итерируемыми объектами, а возвращает каждый элемент последовательно.Если "распаковать" все получаемые значения в list, получится "сплющенный" список. Например:

[[1, 2, 3], [4, [5, 6, [7, 8]]]] -> [1, 2, 3, 4, 5, 6, 7, 8]

UPD. Еще пример:
[1, 2, 'abc', [2, 4], {'key' : 'value'}]

-> [1, 2, 'a', 'b', 'c', 2, 4, 'k', 'e', 'y']

In [ ]:
from collections.abc import Iterable

def flatten(collection):
  for obj in collection:
    if isinstance(obj, Iterable) and not isinstance(obj, (str, bytes)):
      yield from flatten(obj)
    elif isinstance(obj, dict):
      yield from flatten(obj.keys())
      yield from flatten(obj.values())
    elif isinstance(obj, str):
      yield from obj
    else:
      yield obj

print(list(flatten([[1, 2, 3], [4, [5, 6, [7, 8]]]])))
print(list(flatten([1, 2, 'abc', [2, 4], {'key' : 'value'}])))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 'a', 'b', 'c', 2, 4, 'k', 'e', 'y']

### Задача 3. itertools (15)

Модуль itertools представляет много инструментов для работы с итераторами.

Ознакомиться с ними можно здесь: https://docs.python.org/3/library/itertools.html

Вводится числа через пробел с одной строке. Затем вводится число n.

Напишите программу, которая находит все уникальные пары чисел из списка, где сумма каждой пары равна числу n. Можете использовать itertools.

Например, списка [1, 2, 3, 4, 5, 6] и n=7 программа должна вывести пары чисел, которые в сумме дают 7: [(1, 6), (2, 5), (3, 4)].

In [ ]:
import itertools

In [ ]:
def find_if_sum(collection, n):
  m = {}
  res = set()
  for i in collection:
    if n - i in m:
      res.add((i, n - i))
    m[i] = True
  return res

In [ ]:
find_if_sum([1, 2, 3, 4, 5, 6], 7)

[(1, 6), (2, 5), (3, 4)]

In [ ]:
def find_if_sum(collection, n):
  return [(v1, v2) for v1, v2 in itertools.combinations(collection, 2) if v1 + v2 == 7]

## Задача 4.1 Очень функциональное программирование (2).

Вводятся числа в одной строке через пробел.

Например, '4 2 5 2 5 1'

Необходимо найти наименьшее нечетное число. Например, для примера выше это 1.

Решение должно занимать ровно одну строку любой длины.

Запрещено использовать циклы, условные операторы и list comprehension.

In [ ]:
min(filter(lambda i: i % 2 != 0, map(int, input().split())))

4 2 5 2 5 1

1

## Задача 4.2 itertools и очень функциональное программирование (3).

Вводится одно число n.

Используя модуль itertools, выведите в одной строке через запятую и пробел факториалы чисел от 0 до n.


Запрещено использовать циклы, условные операторы и list comprehension.

Например, для n = 7 на экран надо вывести:

1, 1, 2, 6, 24, 120, 720, 5040

In [ ]:
from itertools import accumulate, chain

In [ ]:
', '.join(map(str, accumulate(chain([1], range(1, int(input()) + 1)), lambda x, y: x * y)))

7

'1, 1, 2, 6, 24, 120, 720, 5040'